name: SmartSolutions
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
    
  firebase_database: ^3.1.6
  firebase_storage: ^3.1.6
  intl: ^0.16.1
  image_picker: ^0.6.7+4
  cupertino_icons: ^0.1.3
  meta: ^1.1.8
  google_sign_in: ^4.5.1
  firebase_auth: ^0.16.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  


flutter:
  assets:
      - assets/


  uses-material-design: true
